/* ESTILOS UNIVERSAIS */
* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
/* ESTILOS AGRUPADOS INICIO*/

/*links do topo e links do nav */
.secao-botoes a, nav a, .secao-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;    
}
p, ul li {
    font-size: 18px;    
}
.texto-marrom{
    color: #995A1F;
}
nav h2, .introducao h4{
    margin-top: 50px;
    width: 100%;
}
/* seções de fundo verde */
nav, .introducao, .secao-info, .secao-introducao-ia, footer{
    background: rgba(110, 153, 57, 0.8);
}   
nav, .secao-descricao, .titulo-e-subtitulo, .secao-titulos, .introducao, .secao-introducao-ia, .rodape{
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.introducao p, .secao-introducao-ia p{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 62%;
    line-height: 32px;
}
.secao-info, .rodape{
    padding: 60px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.672)
}

/* FIM DOS ESTILOS AGRUPADOS */

/* CABEÇALHO  */
header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    opacity: 80%;
}
#home {
    background-image: url(img/fundo-cabeçalho1.jpg);
}
#agricultura {
    background-image: url(img/fundo-cabecalho2.jpg);
}
#ia-agricultura{
    background-image: url(img/fundo-cabecalho3.jpg);
}

#cultivo{
    background-image: url(img/fundo-cabecalho4.jpg);
}

.secao-cabecalho {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 70%;
}
/*TOPO*/
.secao-botoes a{
    width: 82px;
    height: 48px;
    border-radius: 52px;
    margin: 0 10px;
}
.menu {
    background-color: rgb(198, 198, 198);
}
.home {
    background-color: #6E9939;
}
.secao-botoes a p {
    width: 62px;
    height: 20px;
    font-weight: 400;
    text-align: center;
}
.secao-topo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: rgba(248, 242, 242, 0.445);
}
.logotipo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logotipo img {
    width: 96px;
}
.icone-seta img {
    width: 42px;
}
.secao-botoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* SEÇÃO TÍTULOS */

h1 {
    font-size: 32px;
    margin-bottom: 72px;
}
h2 {
    font-size: 28px;
    width: 70%;
}

h4{
    font-size: 22px;
}

.secao-titulos {    
    height: 100%;
}
.titulo-e-subtitulo {    
    justify-content: space-between;
    max-height: 258px;
    margin: 70px 0 126px 0;
    padding-top: 50px;
}
.secao-descricao {    
    justify-content: space-between;
    height: 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* MENU DE NAVEGAÇÃO */

nav {    
    justify-content: center;    
    padding: 10px 442px;
    gap: 52px;
    /* verde */
    /* sombra-seção */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
nav a{    
    width: 428px;
    height: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    align-self: stretch;
    margin: 20px 0;
}
.botao-marrom {
    background: rgba(153, 90, 31, 0.65);
}
.botao-verde {    
    background: #5E8330;   
}

/* FIM MENU DE NAVEGAÇÃO */

/* SEÇÃO INTRODUÇÃO - INICIO */

/* SEÇÃO GALERIA */
.container-galeria {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 18px;
    background-color: #5E8330;
    /* Cor de fundo desejada */
}

.imagem-container {
    flex: 0 0 300px;
    scroll-snap-align: end;
    position: relative;
}
.imagem-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 0;
}
.imagem {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: 50%;
}
.imagem1 {
    background-image: url(img/galeria1\ img1.jpg);
}

.imagem2 {
    background-image: url(img/galeria1\ img2.jpg);
}

.imagem3 {
    background-image: url(img/galeria1\ img3.jpg);
}

.imagem4 {
    background-image: url(img/galeria1\ img4.jpg);
}

.imagem5 {
    background-image: url(img/galeria1\ img5.jpg);
}

.imagem6{
    background-image: url(img/galeria2\ imagem1.jpg);
}

.imagem7 {
    background-image: url(img/galeria2\ imagem2.jpg);
}
.imagem8 {
    background-image: url(img/galeria2\ imagem3.jpg);
}
.imagem9 {
    background-image: url(img/galeria2\ imagem\ 4.png);
}
/* fundo do subtitulo da galeria */
.content {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.container-galeria h2 {
    margin-top: 0;
    font-size: 16px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.292);
    padding: 0px 0px;
    width: 100%;
    height: 42px ;
    box-sizing: border-box;
    text-align: center;
}

.container-galeria p {
    margin-top: 20px;
    /* Define a distância entre h2 e p */
    font-size: 13px;
    text-align:center;
    font-weight: bold;
    width: 90%;
    text-shadow: black 2px 2px 20px;
}
/* ESTILOS GALERIA FIM */

/* SEÇÃO INFO - INICIO */
.secao-info img{
    width: 192px;
}
.secao-info p{
    width: 36%;
    line-height: 30px;
    text-shadow: black 1px 1px 10px;
}
/* FIM SEÇÃO INFO */

/* SEÇÃO INTRODUÇÃO A IA */
.secao-introducao-ia{
    padding: 40px 0 60px 0;
}
/* RODAPE INICIO */
li{
    margin-top: 18px;
    text-align:justify ;
}
ul{
    margin: 38px 0 50px 0 ;
}
/* RODAPE FIM */